/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 10, ../src/sass/screen.scss */
*, html, body {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.5rem;
}

/* line 18, ../src/sass/screen.scss */
html, body {
  height: 100%;
}

/* custom */
/* custom */
@media only screen and (min-width: 601px) {
  /* line 18, ../src/sass/tokens/_media-queries.scss */
  .small-and-down {
    display: none !important;
  }
}

@media only screen and (min-width: 993px) {
  /* line 19, ../src/sass/tokens/_media-queries.scss */
  .medium-and-down {
    display: none !important;
  }
}

@media only screen and (max-width: 992px) {
  /* line 21, ../src/sass/tokens/_media-queries.scss */
  .large-and-up {
    display: none !important;
  }
}

@media only screen and (max-width: 600px) {
  /* line 22, ../src/sass/tokens/_media-queries.scss */
  .medium-and-up {
    display: none !important;
  }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
  /* line 24, ../src/sass/tokens/_media-queries.scss */
  .medium-only {
    display: none !important;
  }
}

/* line 15, ../src/sass/tokens/_colors.scss */
.primary-default {
  color: #0000ff;
}

/* line 16, ../src/sass/tokens/_colors.scss */
.primary-alternative {
  color: #D0204A;
}

/* line 17, ../src/sass/tokens/_colors.scss */
.ultra-light {
  color: #f0f0f0;
}

/* line 18, ../src/sass/tokens/_colors.scss */
.mid-light {
  color: #e2e2e2;
}

/* line 19, ../src/sass/tokens/_colors.scss */
.mid-dark {
  color: #3c3c3c;
}

/* line 20, ../src/sass/tokens/_colors.scss */
.extra-dark {
  color: #242424;
}

/* line 21, ../src/sass/tokens/_colors.scss */
.ultra-dark {
  color: #000000;
}

/* line 34, ../src/sass/tokens/_colors.scss */
.light-gradient-vertical {
  background-image: -webkit-linear-gradient(0deg, #f0f0f0 10%, #e2e2e2 90%);
  background-image: -o-linear-gradient(0deg, #f0f0f0 10%, #e2e2e2 90%);
  background-image: linear-gradient(to 0deg, #f0f0f0 10%, #e2e2e2 90%);
}
/* line 37, ../src/sass/tokens/_colors.scss */
.light-gradient-horizontal {
  background-image: -webkit-linear-gradient(0deg, #f0f0f0 10%, #e2e2e2 90%);
  background-image: -o-linear-gradient(0deg, #f0f0f0 10%, #e2e2e2 90%);
  background-image: linear-gradient(to 0deg, #f0f0f0 10%, #e2e2e2 90%);
}

/* line 43, ../src/sass/tokens/_colors.scss */
.dark-gradient-vertical {
  background-image: -webkit-linear-gradient(90deg, black 10%, #3c3c3c 90%);
  background-image: -o-linear-gradient(90deg, black 10%, #3c3c3c 90%);
  background-image: linear-gradient(to 90deg, #000000 10%, #3c3c3c 90%);
}
/* line 46, ../src/sass/tokens/_colors.scss */
.dark-gradient-horizontal {
  background-image: -webkit-linear-gradient(90deg, black 10%, #3c3c3c 90%);
  background-image: -o-linear-gradient(90deg, black 10%, #3c3c3c 90%);
  background-image: linear-gradient(to 90deg, #000000 10%, #3c3c3c 90%);
}

/* line 52, ../src/sass/tokens/_colors.scss */
.primary-gradient-vertical {
  background-image: -webkit-linear-gradient(90deg, blue 10%, #d0204a 90%);
  background-image: -o-linear-gradient(90deg, blue 10%, #d0204a 90%);
  background-image: linear-gradient(to 90deg, #0000ff 10%, #d0204a 90%);
}
/* line 55, ../src/sass/tokens/_colors.scss */
.primary-gradient-horizontal {
  background-image: -webkit-linear-gradient(90deg, blue 10%, #d0204a 90%);
  background-image: -o-linear-gradient(90deg, blue 10%, #d0204a 90%);
  background-image: linear-gradient(to 90deg, #0000ff 10%, #d0204a 90%);
}

@keyframes grain {
  0%, 100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%, 0%);
  }
  70% {
    transform: translate(0%, 15%);
  }
  80% {
    transform: translate(3%, 35%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}
@font-face {
  font-family: Karla;
  src: url("../src/fonts/Karla/Karla-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: Karla;
  src: url("../src/fonts/Karla/Karla-Bold.ttf") format("truetype");
  font-weight: 700;
}
/* line 19, ../src/sass/tokens/_text-and-typography.scss */
a {
  text-decoration: none;
  color: #f0f0f0;
  -webkit-transition: 0.1s;
  -webkit-transition: -webkit-transform 0.1s ease-out;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  transition-delay: 0s;
}
/* line 23, ../src/sass/tokens/_text-and-typography.scss */
a:hover {
  color: #00ff5f;
}

/* line 32, ../src/sass/tokens/_text-and-typography.scss */
*, body, html {
  font-family: 'Karla', Courier, Courier New, Lucida Console, Monospace;
  font-weight: 400;
}

/* line 38, ../src/sass/tokens/_text-and-typography.scss */
.uppercase {
  text-transform: uppercase;
}

/* line 42, ../src/sass/tokens/_text-and-typography.scss */
.underline {
  text-decoration: underline;
}

/* line 46, ../src/sass/tokens/_text-and-typography.scss */
.bold {
  font-weight: 700 !important;
}

/* line 49, ../src/sass/tokens/_text-and-typography.scss */
.txt-left {
  text-align: left;
}
/* line 50, ../src/sass/tokens/_text-and-typography.scss */
.txt-center {
  text-align: center;
}
/* line 51, ../src/sass/tokens/_text-and-typography.scss */
.txt-right {
  text-align: right;
}

/* line 79, ../src/sass/tokens/_text-and-typography.scss */
.main, .text.blockquote, nav a {
  font-family: 'Karla', Courier, Courier New, Lucida Console, Monospace;
  font-weight: 400;
}
/* line 82, ../src/sass/tokens/_text-and-typography.scss */
.main.caption, .caption.text.blockquote, nav a.blockquote.text, nav a {
  font-family: 'Karla', Courier, Courier New, Lucida Console, Monospace;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.25rem;
}
@media only screen and (max-width: 600px) {
  /* line 86, ../src/sass/tokens/_text-and-typography.scss */
  .main.caption-sm, .caption-sm.text.blockquote, nav a.caption-sm {
    font-size: 0.75rem;
    line-height: 1.25rem;
  }
}
@media only screen and (min-width: 601px) {
  /* line 87, ../src/sass/tokens/_text-and-typography.scss */
  .main.caption-md, .caption-md.text.blockquote, nav a.caption-md {
    font-size: 0.75rem;
    line-height: 1.25rem;
  }
}
@media only screen and (min-width: 993px) {
  /* line 88, ../src/sass/tokens/_text-and-typography.scss */
  .main.caption-lg, .caption-lg.text.blockquote, nav a.caption-lg {
    font-size: 0.75rem;
    line-height: 1.25rem;
  }
}
/* line 92, ../src/sass/tokens/_text-and-typography.scss */
.main.body, .body.text.blockquote, nav a.body {
  font-family: 'Karla', Courier, Courier New, Lucida Console, Monospace;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5rem;
}
@media only screen and (max-width: 600px) {
  /* line 96, ../src/sass/tokens/_text-and-typography.scss */
  .main.body-sm, .body-sm.text.blockquote, nav a.body-sm {
    font-size: 0.875rem;
    line-height: 1.5rem;
  }
}
@media only screen and (min-width: 601px) {
  /* line 97, ../src/sass/tokens/_text-and-typography.scss */
  .main.body-md, .body-md.text.blockquote, nav a.body-md {
    font-size: 0.875rem;
    line-height: 1.5rem;
  }
}
@media only screen and (min-width: 993px) {
  /* line 98, ../src/sass/tokens/_text-and-typography.scss */
  .main.body-lg, .body-lg.text.blockquote, nav a.body-lg {
    font-size: 0.875rem;
    line-height: 1.5rem;
  }
}
/* line 101, ../src/sass/tokens/_text-and-typography.scss */
.main.subheading, .subheading.text.blockquote, nav a.subheading {
  font-family: 'Karla', Courier, Courier New, Lucida Console, Monospace;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 2rem;
}
@media only screen and (max-width: 600px) {
  /* line 105, ../src/sass/tokens/_text-and-typography.scss */
  .main.subheading-sm, .subheading-sm.text.blockquote, nav a.subheading-sm {
    font-size: 1.125rem;
    line-height: 2rem;
  }
}
@media only screen and (min-width: 601px) {
  /* line 106, ../src/sass/tokens/_text-and-typography.scss */
  .main.subheading-md, .subheading-md.text.blockquote, nav a.subheading-md {
    font-size: 1.125rem;
    line-height: 2rem;
  }
}
@media only screen and (min-width: 993px) {
  /* line 107, ../src/sass/tokens/_text-and-typography.scss */
  .main.subheading-lg, .subheading-lg.text.blockquote, nav a.subheading-lg {
    font-size: 1.125rem;
    line-height: 2rem;
  }
}
/* line 110, ../src/sass/tokens/_text-and-typography.scss */
.main.heading, .heading.text.blockquote, nav a.heading {
  font-family: 'Karla', Courier, Courier New, Lucida Console, Monospace;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.5rem;
}
@media only screen and (max-width: 600px) {
  /* line 110, ../src/sass/tokens/_text-and-typography.scss */
  .main.heading, .heading.text.blockquote, nav a.heading {
    font-size: 1.5rem;
    line-height: 2.25rem;
  }
}
@media only screen and (max-width: 600px) {
  /* line 119, ../src/sass/tokens/_text-and-typography.scss */
  .main.heading-sm, .heading-sm.text.blockquote, nav a.heading-sm {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}
@media only screen and (min-width: 601px) {
  /* line 120, ../src/sass/tokens/_text-and-typography.scss */
  .main.heading-md, .heading-md.text.blockquote, nav a.heading-md {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}
@media only screen and (min-width: 993px) {
  /* line 121, ../src/sass/tokens/_text-and-typography.scss */
  .main.heading-lg, .heading-lg.text.blockquote, nav a.heading-lg {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

/* line 125, ../src/sass/tokens/_text-and-typography.scss */
.text, .text.caption, nav a.text, .text.body {
  font-family: 'Literata', Times New Roman, Georgia, Serif;
  font-weight: 400;
}
/* line 129, ../src/sass/tokens/_text-and-typography.scss */
.text.caption, nav a.text, nav a.text.body {
  font-size: 0.625rem;
  line-height: 1.25rem;
}
/* line 135, ../src/sass/tokens/_text-and-typography.scss */
.text.body {
  font-size: 0.8125rem;
  line-height: 1.5rem;
}
/* line 141, ../src/sass/tokens/_text-and-typography.scss */
.text.blockquote {
  font-size: 1.25rem;
  line-height: 2rem;
}

/* line 37, ../src/sass/tokens/_utilities.scss */
.truncate {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 5, ../src/sass/tokens/_spacings.scss */
.spacing-inset-lg {
  padding: 3.75rem;
}
@media only screen and (max-width: 600px) {
  /* line 5, ../src/sass/tokens/_spacings.scss */
  .spacing-inset-lg {
    padding: 1.5em;
  }
}
/* line 15, ../src/sass/tokens/_spacings.scss */
.spacing-stack-quark {
  margin-bottom: 0.5rem;
}
/* line 15, ../src/sass/tokens/_spacings.scss */
.spacing-stack-nano {
  margin-bottom: 1rem;
}
/* line 15, ../src/sass/tokens/_spacings.scss */
.spacing-stack-xxxs {
  margin-bottom: 1.5rem;
}
/* line 15, ../src/sass/tokens/_spacings.scss */
.spacing-stack-xxs {
  margin-bottom: 2rem;
}
/* line 15, ../src/sass/tokens/_spacings.scss */
.spacing-stack-xs {
  margin-bottom: 2.5rem;
}
/* line 15, ../src/sass/tokens/_spacings.scss */
.spacing-stack-sm {
  margin-bottom: 3rem;
}
/* line 15, ../src/sass/tokens/_spacings.scss */
.spacing-stack-md {
  margin-bottom: 3.5rem;
}
/* line 15, ../src/sass/tokens/_spacings.scss */
.spacing-stack-lg {
  margin-bottom: 4rem;
}
/* line 15, ../src/sass/tokens/_spacings.scss */
.spacing-stack-xl {
  margin-bottom: 4.5rem;
}
/* line 20, ../src/sass/tokens/_spacings.scss */
.spacing-stack-xxl {
  margin-bottom: 5rem;
}
/* line 20, ../src/sass/tokens/_spacings.scss */
.spacing-stack-xxxl {
  margin-bottom: 7.5rem;
}
/* line 20, ../src/sass/tokens/_spacings.scss */
.spacing-stack-huge {
  margin-bottom: 10rem;
}
/* line 20, ../src/sass/tokens/_spacings.scss */
.spacing-stack-giant {
  margin-bottom: 12.5rem;
}
/* line 28, ../src/sass/tokens/_spacings.scss */
.spacing-inline-quark {
  margin-left: 1rem;
}
/* line 28, ../src/sass/tokens/_spacings.scss */
.spacing-inline-nano {
  margin-left: 2rem;
}
/* line 28, ../src/sass/tokens/_spacings.scss */
.spacing-inline-xxxs {
  margin-left: 3rem;
}
/* line 28, ../src/sass/tokens/_spacings.scss */
.spacing-inline-xxs {
  margin-left: 4rem;
}
/* line 28, ../src/sass/tokens/_spacings.scss */
.spacing-inline-xs {
  margin-left: 5rem;
}
/* line 28, ../src/sass/tokens/_spacings.scss */
.spacing-inline-sm {
  margin-left: 6rem;
}
/* line 28, ../src/sass/tokens/_spacings.scss */
.spacing-inline-md {
  margin-left: 7rem;
}
/* line 28, ../src/sass/tokens/_spacings.scss */
.spacing-inline-lg {
  margin-left: 8rem;
}
/* line 28, ../src/sass/tokens/_spacings.scss */
.spacing-inline-xl {
  margin-left: 9rem;
}
/* line 33, ../src/sass/tokens/_spacings.scss */
.spacing-inline-xxl {
  margin-left: 5rem;
}
/* line 33, ../src/sass/tokens/_spacings.scss */
.spacing-inline-xxxl {
  margin-left: 7.5rem;
}
/* line 33, ../src/sass/tokens/_spacings.scss */
.spacing-inline-huge {
  margin-left: 10rem;
}
/* line 33, ../src/sass/tokens/_spacings.scss */
.spacing-inline-giant {
  margin-left: 12.5rem;
}

/* line 1, ../src/sass/tokens/_alignments.scss */
.align-content-to-edges {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  width: fit-content;
}
@media only screen and (max-width: 600px) {
  /* line 1, ../src/sass/tokens/_alignments.scss */
  .align-content-to-edges {
    width: initial;
  }
}
/* line 16, ../src/sass/tokens/_alignments.scss */
.align-content-to-edges .top-left {
  flex: 1;
}
/* line 20, ../src/sass/tokens/_alignments.scss */
.align-content-to-edges .bottom-left {
  flex: 0;
}

/* line 1, ../src/sass/components/_display.scss */
#display {
  position: absolute;
  top: -2rem;
  left: 0;
  width: 100%;
  display: block;
  perspective: 25rem;
  filter: blur(0.5px);
  pointer-events: none;
  z-index: 0;
}
@media only screen and (max-width: 600px) {
  /* line 1, ../src/sass/components/_display.scss */
  #display {
    max-height: 30%;
    top: 0rem;
  }
}
/* line 23, ../src/sass/components/_display.scss */
#display img {
  max-width: 100%;
  height: 80vh;
  display: block;
  margin-left: 22%;
  width: 66%;
  transform-style: preserve-3d;
  transform: rotateX(4deg) rotateY(14deg) rotateZ(0deg) skewY(3deg);
  transform-origin: 11% 5%;
}
@media only screen and (max-width: 992px) {
  /* line 23, ../src/sass/components/_display.scss */
  #display img {
    transform: rotateX(4deg) rotateY(14deg) rotateZ(0deg) skewY(3deg);
    transform-origin: 11% 5%;
  }
}
@media only screen and (max-width: 600px) {
  /* line 23, ../src/sass/components/_display.scss */
  #display img {
    margin-top: 15vw;
    height: 50vh;
  }
}

/* line 1, ../src/sass/components/_backgrounds.scss */
body {
  height: 100%;
}
/* line 4, ../src/sass/components/_backgrounds.scss */
body .full-bg {
  height: 100%;
}
/* line 9, ../src/sass/components/_backgrounds.scss */
body .noise:after {
  animation: grain 8s steps(10) infinite;
  background-image: url("../src/img/colored-noise-pattern.gif");
  content: "";
  height: 300%;
  left: -50%;
  opacity: 0.08;
  position: fixed;
  top: -110%;
  width: 300%;
  transform: scale(0.25);
  pointer-events: none;
}
/* line 25, ../src/sass/components/_backgrounds.scss */
body .fixed-pos {
  position: fixed;
}

/* line 1, ../src/sass/components/_menu.scss */
nav {
  float: right;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
/* line 8, ../src/sass/components/_menu.scss */
nav #menu {
  display: inline-block;
  flex-grow: 1;
  margin-top: -0.5rem;
}

/* line 1, ../src/sass/components/_anchor-arrow.scss */
.anchor-arrow {
  position: absolute;
  left: 50%;
  display: block;
  width: 3rem;
  height: 3rem;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
/* line 13, ../src/sass/components/_anchor-arrow.scss */
.anchor-arrow img {
  display: block;
  margin: 0 auto;
  margin-top: 2rem;
}

/* line 1, ../src/sass/components/_reminder.scss */
.reminder {
  position: fixed;
  z-index: -1;
  bottom: 3.5rem;
  left: 3.5rem;
  width: calc(100% - 7rem);
}
@media only screen and (max-width: 600px) {
  /* line 1, ../src/sass/components/_reminder.scss */
  .reminder {
    left: 1.5rem;
    bottom: 2.5rem;
    width: calc(100% - 3rem);
    max-width: 18rem;
  }
}

/* line 2, ../src/sass/components/_social-icons.scss */
.social-icons.primary, .social-icons.secondary {
  display: inline-block;
  align-self: flex-end;
  flex-grow: 0;
  margin-bottom: -0.5rem;
}
/* line 8, ../src/sass/components/_social-icons.scss */
.social-icons.primary li, .social-icons.secondary li {
  display: inline-block;
  margin-left: 0.5rem;
}
@media only screen and (max-width: 600px) {
  /* line 8, ../src/sass/components/_social-icons.scss */
  .social-icons.primary li, .social-icons.secondary li {
    display: block;
    margin-bottom: 1rem;
  }
}
/* line 20, ../src/sass/components/_social-icons.scss */
.social-icons.secondary li {
  margin-right: 0.5rem;
  margin-left: 0;
}
@media only screen and (max-width: 600px) {
  /* line 19, ../src/sass/components/_social-icons.scss */
  .social-icons.secondary {
    display: none;
  }
}

/* line 1, ../src/sass/components/_uncategorized.scss */
#about-me {
  width: 60%;
}
@media only screen and (max-width: 600px) {
  /* line 3, ../src/sass/components/_uncategorized.scss */
  #about-me p {
    display: inline;
  }
}
/* line 9, ../src/sass/components/_uncategorized.scss */
#about-me #email, #about-me .spacing-stack-nano {
  display: block;
}

/*# sourceMappingURL=screen.css.map */
