/* line 5, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1,
h2, h2, h3, h4, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: Raleway;
  src: url("../src/fonts//Raleway/Raleway-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: Raleway;
  src: url("../src/fonts//Raleway/Raleway-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Raleway;
  src: url("../src/fonts//Raleway/Raleway-Bold.ttf");
  font-weight: 700;
}
/* line 1, ../src/sass/custom/_general.scss */
section div {
  max-width: 320px;
  margin: 0 auto;
}

/* line 6, ../src/sass/custom/_general.scss */
i {
  display: inline-block;
}

/* line 12, ../src/sass/custom/_general.scss */
img,
video {
  max-width: 100%;
  height: auto;
}

/* line 65, ../src/sass/custom/_general.scss */
h2:after, #header:after {
  content: '';
  display: block;
}

/* line 72, ../src/sass/custom/_general.scss */
header {
  display: flex;
  align-items: center;
}

/* line 1, ../src/sass/custom/_typography-scale.scss */
*, html, body {
  font-family: Raleway;
  font-weight: 300;
  text-align: center;
  color: #050323;
}

/* line 8, ../src/sass/custom/_typography-scale.scss */
h1, h2 {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}

/* line 16, ../src/sass/custom/_typography-scale.scss */
h2 {
  color: #050323;
}
/* line 19, ../src/sass/custom/_typography-scale.scss */
h2:after {
  content: '~';
  color: #f89925;
  font-weight: 700;
  margin: 1rem 0;
}

/* line 28, ../src/sass/custom/_typography-scale.scss */
h3, h4 {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-bottom: 2rem;
}

/* line 35, ../src/sass/custom/_typography-scale.scss */
h4 {
  font-weight: 400;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
}

/* line 42, ../src/sass/custom/_typography-scale.scss */
h5 {
  font-weight: 700;
  font-size: 1.25rem;
}

/* line 47, ../src/sass/custom/_typography-scale.scss */
a {
  color: #050323;
  text-decoration: none;
}

/* line 52, ../src/sass/custom/_typography-scale.scss */
p {
  margin: 0 1rem;
}

/* line 1, ../src/sass/custom/_header.scss */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}
/* line 9, ../src/sass/custom/_header.scss */
header #logo {
  display: flex;
  width: auto;
  height: auto;
  margin: 1rem;
}
/* line 14, ../src/sass/custom/_header.scss */
header #logo img {
  width: auto;
  height: 1.5rem;
}

/* line 1, ../src/sass/custom/_menu.scss */
i#hamburger-menu {
  position: fixed;
  top: 1.05rem;
  right: 1.05rem;
  z-index: 2;
  width: 2rem;
  height: 2rem;
  width: 1.75rem;
  height: 2rem;
}
/* line 11, ../src/sass/custom/_menu.scss */
i#hamburger-menu:before, i#hamburger-menu:after {
  content: '';
  position: absolute;
  background-color: #050323;
  display: block;
  width: 1.75rem;
  height: 2px;
  margin-top: 3px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
/* line 27, ../src/sass/custom/_menu.scss */
i#hamburger-menu:after {
  top: 0.5rem;
}
/* line 32, ../src/sass/custom/_menu.scss */
i#hamburger-menu.active:before, i#hamburger-menu.active:after {
  background-color: #ffffff;
  -webkit-transform: translateY(0.25rem) rotate(45deg);
  -moz-transform: translateY(0.25rem) rotate(45deg);
  -ms-transform: translateY(0.25rem) rotate(45deg);
  -o-transform: translateY(0.25rem) rotate(45deg);
  transform: translateY(0.25rem) rotate(45deg);
}
/* line 41, ../src/sass/custom/_menu.scss */
i#hamburger-menu.active:after {
  -webkit-transform: translateY(-0.25rem) rotate(-45deg);
  -moz-transform: translateY(-0.25rem) rotate(-45deg);
  -ms-transform: translateY(-0.25rem) rotate(-45deg);
  -o-transform: translateY(-0.25rem) rotate(-45deg);
  transform: translateY(-0.25rem) rotate(-45deg);
}

/* line 51, ../src/sass/custom/_menu.scss */
#navegacao {
  opacity: 0;
  z-index: 1;
  pointer-events: none;
  background-color: rgba(248, 153, 37, 0.85);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
}
/* line 61, ../src/sass/custom/_menu.scss */
#navegacao.active {
  opacity: 1;
  pointer-events: all;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}
/* line 68, ../src/sass/custom/_menu.scss */
#navegacao.active li {
  -webkit-transform: translateY(-2rem);
  -moz-transform: translateY(-2rem);
  -ms-transform: translateY(-2rem);
  -o-transform: translateY(-2rem);
  transform: translateY(-2rem);
  opacity: 1;
}
/* line 79, ../src/sass/custom/_menu.scss */
#navegacao ul {
  vertical-align: center;
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}
/* line 86, ../src/sass/custom/_menu.scss */
#navegacao ul li {
  display: block;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 1rem;
  margin-top: 1rem;
  opacity: 0;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
/* line 100, ../src/sass/custom/_menu.scss */
#navegacao ul li a {
  color: #ffffff;
}
/* line 105, ../src/sass/custom/_menu.scss */
#navegacao ul li:nth-child(1) {
  transition-delay: 0.05s;
}
/* line 105, ../src/sass/custom/_menu.scss */
#navegacao ul li:nth-child(2) {
  transition-delay: 0.1s;
}
/* line 105, ../src/sass/custom/_menu.scss */
#navegacao ul li:nth-child(3) {
  transition-delay: 0.15s;
}
/* line 105, ../src/sass/custom/_menu.scss */
#navegacao ul li:nth-child(4) {
  transition-delay: 0.2s;
}

/* line 1, ../src/sass/custom/_section-header.scss */
#header {
  background-image: url("../src/img/hero.png");
  background-size: cover;
  background-position: center;
  overflow: hidden;
  width: 100%;
  height: calc(100vh - 128px);
  position: relative;
  z-index: -1;
}
/* line 12, ../src/sass/custom/_section-header.scss */
#header .container {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  margin-top: 1.5rem;
  text-align: center;
  color: #ffffff;
}
/* line 24, ../src/sass/custom/_section-header.scss */
#header #scroll-down {
  position: absolute;
  bottom: 1rem;
  transform: translateX(-50%);
  left: 50%;
}
/* line 31, ../src/sass/custom/_section-header.scss */
#header:after {
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 100vh;
  background-color: rgba(5, 3, 35, 0.4);
  z-index: -2;
}

/* line 1, ../src/sass/custom/_consultoria.scss */
#consultoria, #parcerias, #contato {
  padding: 3rem 1.618rem;
}
/* line 4, ../src/sass/custom/_consultoria.scss */
#consultoria li, #parcerias li, #contato li {
  margin-top: 2rem;
}
/* line 7, ../src/sass/custom/_consultoria.scss */
#consultoria li div, #parcerias li div, #contato li div {
  background-color: #f89925;
  padding: 2rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  overflow: visible;
  margin-top: 3rem;
  width: 4rem;
  height: 4rem;
  display: inline-block;
}
/* line 20, ../src/sass/custom/_consultoria.scss */
#consultoria li div img, #parcerias li div img, #contato li div img {
  display: flex;
}

/* line 1, ../src/sass/custom/_sobre.scss */
#sobre {
  background-image: url("../src/img/sobre.png");
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
  padding: 2rem 1.5rem;
  overflow: hidden;
  z-index: -1;
}
/* line 11, ../src/sass/custom/_sobre.scss */
#sobre .container {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 2rem 1rem;
}

/* line 1, ../src/sass/custom/_atuacao.scss */
#atuacao {
  background-color: #f89925;
  padding: 2rem;
}
/* line 5, ../src/sass/custom/_atuacao.scss */
#atuacao .container {
  padding: 1rem;
  padding-bottom: 3rem;
  margin-top: 4rem;
  background-color: rgba(255, 255, 255, 0.1);
}
/* line 11, ../src/sass/custom/_atuacao.scss */
#atuacao .container .texto-container {
  margin-top: -4.5rem;
  padding-bottom: 1.5rem;
  background-color: #f89925;
}
/* line 15, ../src/sass/custom/_atuacao.scss */
#atuacao .container .texto-container h2 {
  color: #ffffff;
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}
/* line 22, ../src/sass/custom/_atuacao.scss */
#atuacao .container .texto-container h2:after {
  display: none;
}
/* line 26, ../src/sass/custom/_atuacao.scss */
#atuacao .container .texto-container p {
  color: #ffffff;
  line-height: 1.5rem;
}
/* line 33, ../src/sass/custom/_atuacao.scss */
#atuacao .container .energia h4, #atuacao .container .industria h4 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  line-height: 2rem;
  margin-top: 3rem;
  text-transform: uppercase;
}
/* line 42, ../src/sass/custom/_atuacao.scss */
#atuacao .container figure {
  width: 23%;
  display: inline-block;
  margin: 0 4.5%;
  margin-top: 1.5rem;
}
/* line 47, ../src/sass/custom/_atuacao.scss */
#atuacao .container figure:last-of-type {
  transform: translateY(1.11111rem);
}
/* line 51, ../src/sass/custom/_atuacao.scss */
#atuacao .container figure figcaption {
  color: #ffffff;
  font-size: 0.9rem;
  font-weight: 400;
  margin: 1rem 0;
  line-height: 1rem;
  text-align: center;
}
/* line 63, ../src/sass/custom/_atuacao.scss */
#atuacao .container .industria figure:nth-child(3) {
  transform: translateY(1rem);
}
/* line 66, ../src/sass/custom/_atuacao.scss */
#atuacao .container .industria figure:nth-child(5), #atuacao .container .industria figure:nth-child(6) {
  width: 28%;
}

/* line 1, ../src/sass/custom/_parcerias.scss */
#parcerias {
  background-color: #fafafa;
  padding-bottom: 4rem;
}
/* line 6, ../src/sass/custom/_parcerias.scss */
#parcerias figure {
  margin: 0 4rem;
  margin-top: 6rem;
}

/* line 4, ../src/sass/custom/_contato.scss */
#contato .linkedin {
  margin: 2rem 0;
  margin-bottom: 0;
  width: 1.5rem;
  height: 1.5rem;
}

/* line 26, ../src/sass/style.scss */
html {
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1.5rem;
}

/*# sourceMappingURL=style.css.map */
