*, body, html {
	box-sizing: border-box;
	font-size: 16px;
	line-height: 2rem;
}

body{
	max-width: 720px;
	margin: 0 auto;
	padding: 2rem;
}

img{
	max-width: 100%;
	height: auto;
	display: block;
}

ul, blockquote{
	margin: 2rem 3rem;
}

code{
	display: block;
}