@charset "UTF-8"; 
@import "compass/reset";
@import "compass/css3";

@import "custom/variables";
@import "custom/colors";

@import "custom/fonts";
@import "custom/general";
@import "custom/typography-scale";

@import "custom/header";
@import "custom/menu";
@import "custom/section-header";
@import "custom/consultoria";
@import "custom/sobre";
@import "custom/atuacao";
@import "custom/parcerias";
@import "custom/contato";

// ajustes principais
// *, body, html{
// 	transition: .1s;
// }

html {
	box-sizing: border-box;
	font-size: 14px;
	line-height: 1.5rem;
}