@charset "UTF-8"; 
@import "compass/reset";
@import "compass/css3";

*, body, html {
	box-sizing: border-box;
	font-size: 16px;
	line-height: 1.5rem;
}

@import "custom/normalize";
@import "custom/fixes";
@import "custom/variables";
@import "custom/colors";

@import "custom/fonts";
@import "custom/general";
@import "custom/typography-scale";
@import "custom/icons";

@import "custom/header";
@import "custom/menu";
@import "custom/scroll-down";
@import "custom/section-header";
@import "custom/consultoria";
@import "custom/sobre";
@import "custom/atuacao";
@import "custom/parcerias";
@import "custom/contato";
@import "custom/grid";

// php -S 0.0.0.0:8080
