@charset "UTF-8"; 
@import "compass/reset";
@import "compass/css3";

*, body, html {
	box-sizing: border-box;
	font-size: 16px;
	line-height: 1.5rem;
	user-select: none;
	overflow: hidden;
    background-color: #262621;
}

@import "custom/normalize";
@import "custom/vars";
@import "custom/colors";

@import "custom/fonts";
@import "custom/typography-scale";
// @import "custom/general";
