/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 10, ../src/sass/screen.scss */
html {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.5rem;
}

@font-face {
  font-family: League Gothic;
  src: url("../../src/fonts/League-Gothic/LeagueGothic-Regular.otf") format("truetype");
  font-weight: 900;
}
@font-face {
  font-family: League Gothic Condensed;
  src: url("../../src/fonts/League-Gothic/LeagueGothic-CondensedRegular.otf") format("truetype");
  font-weight: 900;
}
@font-face {
  font-family: Karla;
  src: url("../../src/fonts/Karla/Karla-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: Karla;
  src: url("../../src/fonts/Karla/Karla-Bold.ttf") format("truetype");
  font-weight: 700;
}
/* line 28, ../src/sass/tokens/_text-and-typography.scss */
a {
  text-decoration: none;
  color: #fbfbfb;
}

/* line 36, ../src/sass/tokens/_text-and-typography.scss */
*, body, html {
  font-family: 'Karla', Courier, Courier New, Lucida Console, Monospace;
  font-weight: 400;
}

/* line 41, ../src/sass/tokens/_text-and-typography.scss */
#menu, #about-me {
  font-size: 0.75rem;
  line-height: 1.25rem;
  color: #fbfbfb;
}

/* line 47, ../src/sass/tokens/_text-and-typography.scss */
.display {
  font-family: 'League Gothic Condensed', Helvetica, Arial, Sans-serif;
  font-weight: 900;
  font-size: 8.5rem;
  line-height: 6.5rem;
}

/* line 54, ../src/sass/tokens/_text-and-typography.scss */
.uppercase {
  text-transform: uppercase;
}

/* line 58, ../src/sass/tokens/_text-and-typography.scss */
.underline {
  text-decoration: underline;
}

/* line 1, ../src/sass/sections/_body.scss */
body {
  background-image: linear-gradient(#d0204a 0%, #0000ff 90%);
  height: calc(100vh - 8rem);
  padding: 4rem;
}

/* line 2, ../src/sass/sections/_header.scss */
nav a {
  display: inline-block;
}
/* line 6, ../src/sass/sections/_header.scss */
nav ul {
  float: right;
  text-align: right;
}

/* line 2, ../src/sass/sections/_main.scss */
main #about-me {
  display: inline-block;
}
/* line 6, ../src/sass/sections/_main.scss */
main #title {
  display: inline-block;
}

/* line 1, ../src/sass/sections/_footer.scss */
footer {
  display: inline-block;
  float: right;
}

/*# sourceMappingURL=screen.css.map */
