//Vars (Primary colors)

$primary-default: #0000ff;
$primary-alternative: #D0204A;

$ultra-light: #fbfbfb;
$mid-dark: #3c3c3c;
$extra-dark: #242424;
$ultra-dark: #000000;

//Gradients

@mixin gradient($deg, $colorA, $colorB) {
	background-image: -webkit-linear-gradient($deg + unquote('deg'), $colorA 10%, $colorB 90%);
	background-image: -o-linear-gradient($deg + unquote('deg'), $colorA 10%, $colorB 90%);
	background-image: linear-gradient($deg + unquote('deg'), $colorA 10%, $colorB 90%);
}

%primary-gradient{
	&-vertical{
		&-default{
			@include gradient(90, $primary-default, $primary-alternative);
		}

		&-reverse{
			@include gradient(90, $primary-alternative, $primary-default);
		}
	}
	&-horizontal{
		&-default{
			@include gradient(0, $primary-default, $primary-alternative);
		}

		&-reverse{
			@include gradient(0, $primary-alternative, $primary-default);
		}
	}
}

%neutral-gradient{
	&-vertical{
		&-default{
			@include gradient(90, $ultra-dark, $mid-dark);
		}

		&-reverse{
			@include gradient(90, $mid-dark, $ultra-dark);
		}
	}
	&-horizontal{
		&-default{
			@include gradient(180, $ultra-dark, $mid-dark);
		}

		&-reverse{
			@include gradient(180, $mid-dark, $ultra-dark);
		}
	}
}




