#contato{
	@extend #consultoria;
	overflow: hidden;
	
	.linkedin{
		margin: 2rem 0;
		margin-bottom: 0;
		width: 1.5rem;
		height: 1.5rem;
	}

	@media #{$large-and-up} {
		ul{
			margin-left: 25%;
			margin-bottom: 3rem;
			width: 100%;
		}
	}
}