body{
	display: -webkit-box;
    display: -webkit-flex;
    // display: -ms-flexbox;
    display: flex;
	flex-direction: column;
	align-itens: center;
	align-content: center;
	justify-content: center;
	-webkit-box-align: center;
	padding-top: 6rem;
	padding-bottom: 2rem;
	height: calc(100vh - 8rem);
}

header{
	
	// &:before, &:after{
	// 	content: '';
	// 	display: block;
	// 	position: absolute;
	// 	top: 0;
	// 	width: 20%;
	// 	height: 100vh;
	// 	backdrop-filter: blur(160px);
	// }

	// &:before{
	// 	left: 0;
	// }

	// &:after{
	// 	right: 0;
	// }


	flex: 0;
	h1{
		margin-left: -2.25rem;
		margin-top: -1rem;

		@media #{$small-and-down}{
			margin-top: -1.5rem;
		}
	}

	ul{
		margin-top: 1rem;

		li{
			display: inline-block;
			font-family: Lato;
			text-transform: uppercase;
			font-size: 0.825rem;
			line-height: 1.25rem;
			margin: 0 0.5rem;
		}
	}
}

section{
	flex: 1;
	position: relative;
	width: 100%;
	p{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		width: 100%;
		padding: 0 4rem;
	}
}

header, section{
	pointer-events: none;
	align-self: center;
}
