@media #{$medium-and-up}{
	section div{
		max-width: 560px;
	}	
}

@media #{$large-and-up} {
	section div{
		max-width: 1200px;
	}
}
#consultoria, #sobre, #atuacao{
  @media #{$medium-and-up} {
    padding: 6rem 0;
  }
}

#atuacao{
	@media #{$large-and-up} {
		padding-bottom: 0;
	}
}