#sobre{
	background-image: url('../src/img/sobre.jpg');
	background-size: cover;
	background-position: center;
	// background-attachment: fixed;
	overflow: hidden;
	position: relative;
	padding: 2rem 1.5rem;
	overflow: hidden;
	z-index: -1;

	.container{
		background-color: rgba($white, 0.9);
		padding: 2rem 1rem;
		@media #{$medium-and-up} {
			padding-bottom: 4rem;
		}

		@media #{$large-and-up} {
			max-width: 768px;
		}
	}
}