#consultoria{
	@media #{$medium-and-up} {
		h2, h3, p{
			max-width: 560px;
			margin: 0 auto;
		}

		p{
			margin-top: 1rem;
		}
	}


	padding: 3rem 1.618rem;
	ul{
		display: block;
		width: 100%;

		&:after{
			@extend .normalizar-responsividade;
		}

		li{
			margin-top: 2rem;

			@media #{$medium-and-up} {
				width: 50%;
				float: left;
				padding-left: 1rem;
				padding-right: 1rem;

				@media #{$large-and-up} {
					width: 25%;
				}
			}

			figure{
				background-color: $orange;
				padding: 2rem;
				-webkit-border-radius: 50%;
				-moz-border-radius: 50%;
				-ms-border-radius: 50%;
				-o-border-radius: 50%;
				overflow: visible;
				margin-top: 3rem;
				width: 9rem;
				height: 9rem;
				display: inline-block;

				@media #{$medium-and-up} {
					width: 6rem;
					height: 6rem;
					padding: 1.25rem;
				}

				embed{
					width: 100%;
					height: auto;
					display: flex;
				}
			}
		}
	}
}