*, html, body{
	font-family: Raleway;
	font-weight: $Light;
	text-align: center;
	color: $black;
}

h1{
	font-size: (32rem/$rem-default)*1;
	line-height: (40rem/$rem-default)*1;;
	font-weight: $Regular;
	text-align: center;
	color: $white;
	@media #{$medium-and-up}{
		font-size: (40rem/$rem-default)*1;
		line-height: (58rem/$rem-default)*1;;
	}
}

h2{
	@extend h1;
	color: $black;
	&:after{
		@extend %exibir-pseudo-elemento;
		content: '~';
		color: $orange;
		font-weight: $Bold;
		margin: 1rem 0;
	}
}

h3{
	font-weight: $Bold;
	font-size: 1.25rem;
	line-height: 1.5rem;
	margin-bottom: 2rem;
}

h4{
	@extend h3;
	font-weight: $Regular;
	margin-bottom: 0.5rem;
	margin-top: 2rem;
}

h5{
	font-weight: $Bold;
	font-size: 1.25rem;
	margin-bottom: 0.5rem;
}

a{
	color: $black;
	text-decoration: none;
}

p{
	margin: 0 1rem;
}