@import "tokens/colors";
@import "tokens/text-and-typography";

#hero{
	
	@extend %neutral-gradient-vertical-default;
	@extend %main-caption;
	height: 100%; /* section normalizer */
	padding: 3.5rem;
	color: $ultra-light;
	position: relative;
	overflow: hidden;
	
	nav{
		z-index: 1;
		#menu{
			float: right;
			text-align: right;
			line-height: 1.5rem;
		}
	}

	#about-me{
		position: absolute;
		bottom: 3.5rem;
		z-index: 1;

		#email{
			margin-top: 1.5rem;
			font-weight: 700;
		}
	}

	// #more-info{
	// 	position: absolute;
	// 	bottom: 3.5rem;
	// 	left: 50%;
	// 	transform: translateX(-50%);
	// }

	#more-info{
		display: none;
	}

	#contact{
		position: absolute;
		bottom: 3.5rem;
		right: 3.5rem;
		li{
			display: inline-block;
			margin-left: 1rem;
		}
	}
	
	&:after{
		animation: grain 8s steps(10) infinite;
		background-image: url('../src/img/paper-pattern.png');
		content: "";
		height: 300%;
		left: -50%;
		opacity: 0.25;
		position: fixed;
		top: -110%;
		width: 300%;
		transform: scale(0.25);
		pointer-events: none;
	}
}