$thin: 100;
$light: 200;
$regular: 300;
$medium: 400;
$bold: 500;

@font-face {
	font-family: Roboto Mono;
    src: url('#{$font-path}/Roboto_Mono/RobotoMono-Thin.ttf');
    font-weight: $thin;
}

@font-face {
	font-family: Roboto Mono;
    src: url('#{$font-path}/Roboto_Mono/RobotoMono-Light.ttf');
    font-weight: $light;
}

@font-face {
	font-family: Roboto Mono;
    src: url('#{$font-path}/Roboto_Mono/RobotoMono-Regular.ttf');
    font-weight: $regular;
}

@font-face {
	font-family: Roboto Mono;
    src: url('#{$font-path}/Roboto_Mono/RobotoMono-Medium.ttf');
    font-weight: $medium;
}

@font-face {
	font-family: Roboto Mono;
    src: url('#{$font-path}/Roboto_Mono/RobotoMono-Bold.ttf');
    font-weight: $bold;
}

