*, html, body{
	font-family: Roboto Mono;
	font-weight: 100;
	text-align: left;
	color: $black;
}

h1{
	font-size: 2.5rem;
	line-height: 3rem;
	font-weight: $regular;
}

h2{
	font-size: 1.25rem;
	line-height: 2.25rem;
	font-weight: $bold;
}

.caption{
	font-size: 0.75rem;
	line-height: 1.25rem;
	font-weight: $light;
}

p{
	font-size: 14px;
	font-weight: $light;
}