//Vars (Primary colors)

$primary-default: #0000ff;
$primary-alternative: #D0204A;

$ultra-light: #f0f0f0;
$mid-light: #e2e2e2;
$mid-dark: #3c3c3c;
$extra-dark: #242424;
$ultra-dark: #000000;

// colors

.primary-default { color: $primary-default; }
.primary-alternative { color: $primary-alternative; }
.ultra-light { color: $ultra-light; }
.mid-light { color: $mid-light; }
.mid-dark { color: $mid-dark; }
.extra-dark { color: $extra-dark; }
.ultra-dark { color: $ultra-dark; }



//Gradients

@mixin linear-gradient($deg, $colorA, $opacityA, $colorB, $opacityB) {
	background-image: -webkit-linear-gradient($deg + unquote('deg'), rgba($colorA, $opacityA) 10%, rgba($colorB, $opacityB) 90%);
	background-image: -o-linear-gradient($deg + unquote('deg'), rgba($colorA, $opacityA) 10%, rgba($colorB, $opacityB) 90%);
	background-image: linear-gradient($deg + unquote('deg'), rgba($colorA, $opacityA) 10%, rgba($colorB, $opacityB) 90%);
}

.light-gradient{
	&-vertical{
		@include linear-gradient(0, $ultra-light, 1, $mid-light, 1);
	}
	&-horizontal{
		@include linear-gradient(0, $ultra-light, 1, $mid-light, 1);
	}
}

.dark-gradient{
	&-vertical{
		@include linear-gradient(90, $ultra-dark, 1, $mid-dark, 1);
	}
	&-horizontal{
		@include linear-gradient(90, $ultra-dark, 1, $mid-dark, 1);
	}
}

.primary-gradient{
	&-vertical{
		@include linear-gradient(90, $primary-default, 1, $primary-alternative, 1);
	}
	&-horizontal{
		@include linear-gradient(90, $primary-default, 1, $primary-alternative, 1);
	}
}



