//fonts
$font-path: "../src/fonts" !default;

@font-face {
	font-family: League Gothic;
	src: url('#{$font-path}/League-Gothic/LeagueGothic-Regular.otf') format('truetype');
	font-weight: 900;
}
@font-face {
	font-family: League Gothic Condensed;
	src: url('#{$font-path}/League-Gothic/LeagueGothic-CondensedRegular.otf') format('truetype');
	font-weight: 900;
}

@font-face {
	font-family: Karla;
	src: url('#{$font-path}/Karla/Karla-Regular.ttf') format('truetype');
	font-weight: 400;
}
@font-face {
	font-family: Karla;
	src: url('#{$font-path}/Karla/Karla-Bold.ttf') format('truetype');
	font-weight: 700;
}

//normalizers

a{
	text-decoration: none;
	color: $ultra-light;
}

//typograpic scales

%main{
	font-family: 'Karla', Courier, Courier New, Lucida Console, Monospace;
	font-weight: 400;

	&-caption{
		@extend %main;
		font-size: 0.75rem;
		line-height: 1.25rem;
	}

	&-body{
		@extend %main;
		font-size: 0.875rem;
		line-height: 1.5rem;
	}

	&-subheading{
		@extend %main;
		font-size: 1.125rem;
		line-height: 2rem;
	}

	&-heading{
		@extend %main;
		font-size: 2rem;
		line-height: 2.5rem;
	}
}

%text{
	font-family: 'Literata', Times New Roman, Georgia, Serif;
	font-weight: 400;

	&-caption{
		@extend %text;
		font-size: 0.625rem;
		line-height: 1.25rem;
	}

	&-body{
		@extend %text;
		font-size: 0.8125rem;
		line-height: 1.5rem;
	}

	&-blockquote{
		@extend %main;
		font-size: 1.25rem;
		line-height: 2rem;
	}
}


//styles

*, body, html{
	font-family: 'Karla', Courier, Courier New, Lucida Console, Monospace;
	font-weight: 400;
}


.uppercase{
	text-transform: uppercase;
}

.underline{
	text-decoration: underline;
}
