#works{
	height: 100%;
	width: 100%;
	// height: 20%;
	@extend %neutral-gradient-light-vertical-default;
	position: relative;
	overflow: hidden;

	z-index: -1;

	#hit-me-up{
		position: fixed;
		left: 3.5rem;
		bottom: 3.5rem;
		width: 90%;

		@media #{$small-and-down} {
			bottom: 1.5rem;
			left: 1.5rem;
			width: 17rem;

		}

		h3{
			@extend %main-subheading;

			@media #{$small-and-down} {
				font-size: 0.75rem;
				line-height: 1.5rem;
			}
		}
		h1{
			@extend %main-heading;
			font-weight: 700;
			a{
				color: $ultra-dark;
			}

			@media #{$small-and-down} {
				font-size: 1.5rem;
				line-height: 2.5rem;
				margin-bottom: 2rem;
			}
		}
	}
}