footer{
	flex: 1;
	align-self: center;
	margin: auto;
	flex-grow: 0;

	ul{
		li{
			margin-top: 0.5rem;
			font-size: 14px;
		}

		&.social-networks{
			margin-top: 0.75rem;
			li{
				display: inline-block;
				a{
					width: 1.5rem;
					height: 1.5rem;
				}
			}

			@media #{$medium-and-up}{
				margin-bottom: 2rem;
			}
		}
	}
}